<!-- for error messages use get(THing name)().invalid" use dirty or touched to cause error to come up-->

<form [formGroup]="form">

  <p>Password</p>
  <input formControlName="password">
  <p class="error"  *ngIf="getPassword().hasError('doesntHaveCapitalCase')"> Password must contain Capital Letter</p>
  <p class="error"  *ngIf="getPassword().hasError('doesntHaveNumber')"> Password must contain Number</p>
  <p class="error"  *ngIf="getPassword().hasError('doesntHaveSmallCase')"> Password must contain lower case</p>
  <p class="error"  *ngIf="getPassword().hasError('doesntHaveSpecialCharacters')"> Must have Special CHar</p>
  <p class="error"  *ngIf="getPassword().hasError('minlength') || getPassword().hasError('maxlength')"> Password must be between 6 and 20 character</p>



  <p>Confirm Passwod</p>
  <input formControlName="cPassword">
  <p *ngIf="getCPassword().invalid && getCPassword().dirty" class="error">Passwords Must Match</p>

  <button (click)="onSubmit()" [disabled]="form.invalid">Submit</button>

</form>
