<div class="everything">
  <ng-container *ngIf="blogs$ | async as blogs">
    
    <!-- Admin Tools -->
    <div *ngIf="auth?.user?.adminLevel === 2 && auth.verified" class="row justify-content-center mb-4">
      <div class="text-center p-3">
        <button  routerLink="/blogPostingPage">Create Blog</button>
      </div>
    </div>

    <!-- Blog Section -->
    <section id="blogSection" *ngIf="blogs.length > 0">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let blog of blogs; let i = index">
          <div class="card userHover" [ngClass]="{'align-self-start': i % 2 === 0, 'align-self-end': i % 2 !== 0}">
            <div class="card-body text-center">
              <h2 class="card-title">{{blog.title}}</h2>
              <h6 class="card-subtitle mb-2 text-muted">By: {{blog.author}}, {{blog.datePosted.toDate().toLocaleDateString()}}</h6> <!-- Redone into event instead of blog, may want to clean up wording-->
              <p class="card-text">{{blog.content}}</p>
              <div *ngIf="blog.link && blog.link.trim() !== ''">

                <a [href]="blog.link" target="_blank">
                  <button class="btn btn-secondary">Visit Link</button>
                </a>
              </ng-container>

              <!-- Admin Blog Controls -->
              <div *ngIf="auth?.user?.adminLevel === 2 && auth.verified">
                <button class="btn btn-primary" (click)="editBlog(blog)">Edit</button>
                <button class="btn btn-danger" (click)="deleteBlog(blog)">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </ng-container>
</div>

<footer>
  <app-footer></app-footer>
</footer>
