<div class="everything">
  <div *ngIf="blogs$ | async as blogs">
    <div id="adminTools" class="row justify-content-center" *ngIf="auth?.user?.adminLevel === 2 && auth.verified">
      <div class="card w-50 h-80">
        <button class="btn btn-primary" routerLink="/blogPostingPage">Create Blog</button>
      </div>
    </div>
    <div id="blogSection" *ngIf="blogs && blogs.length !== 0">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let blog of blogs; let i = index">
          <div class="card userHover" [ngClass]="{'align-self-start': i % 2 === 0, 'align-self-end': i % 2 !== 0}">
            <div class="card-body text-center">
              <h2 class="card-title">{{blog.title}}</h2>
              <h6 class="card-subtitle mb-2 text-muted">By: {{blog.author}}, {{blog.datePosted.toDate().toLocaleDateString()}}</h6>
              <p class="card-text">{{blog.content}}</p>
              <div *ngIf="blog.link && blog.link.trim() !== ''">
                <a [href]="blog.link" target="_blank" class="card-link">{{ blog.link }}</a>
              </div>
              <div *ngIf="auth?.user?.adminLevel === 2 && auth.verified">
                <button class="btn btn-primary" (click)="editBlog(blog)">Edit</button>
                <button class="btn btn-danger" (click)="deleteBlog(blog)">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <app-footer></app-footer>
</footer>