.card {
    background-color: #f2f2f2;
    height: 25em;
    box-shadow: 10px 5px 5px #424f64;
    border-radius: 15px;
    padding: 0px;
    margin: 0px;
    color: black;
}
h1 {
    font-size: 30px;
    font-weight: bold;
    color: var(--alternative-text-color);
    text-align: center;
    padding: 15px;
}
h6 {
    margin: 10px 0 0 0;
    color:var(--alternative-text-color);
}

.btn {
    margin: 5px;
}
.authorDateRow {
    font-size: xx-large;
}

.blog-content {
    padding-left: 20px;
    padding-right: 20px;
    color: black;
}

p {
  padding-left: 20px;
  padding-right: 20px;
}

body{
  font-family: var(--font-family) !important;
  background-color: var(--background-color) !important;
  color: var(--alternative-text-color) !important;
}

footer{
   margin-top: 100px;
}
.everything{
  min-height: 100vh;
  width: 100vw;
  padding-top: 10px;
}

.blog-cards {
  margin-bottom: 20px; /* Add some space between cards */
}

.align-self-start {
  margin-right: 0px; /* Optional: change to align left */
}

.align-self-end {
  margin-left: 0px; /* Optional: change to align right */
}

.card {
  transition: transform 0.3s; /* Optional: Adds a smooth transition */
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px #000; /* Optional: change to effect scale on hover */
}

#blogSection{
  padding: 10px;
}

.custom-width{
  max-width: 70%;
  width: 100%;
}


