/* You can add global styles to this file, and also import other style files */

/* Keeping Modal related styling here, since it's component-specific */
.modal {
  z-index: 1051 !important;
}

.modal-backdrop {
  z-index: 1050 !important;
}

.modal-backdrop.show {
  opacity: 0.5;
  pointer-events: auto;
}

.modal-open {
  overflow: visible;
}

/* Link and Button Specific Styles */
.btn-link,
#link{
  color: #005a70;
  cursor: pointer;
}

a{
  color: #00704a;
  cursor: pointer;
}

/* Global Button Hover and Focus/Active State */
.btn-primary:hover {
  background-color: var(--primary-color); /* Use global variables from interfaceSettings */
}

.btn-outline-secondary:hover {
  background-color: var(--secondary-color); /* Use global variables from interfaceSettings */
}

.btn-primary:focus,
.btn-primary:active {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

/* Global form-control input styles */
input, option, .form-control {
  border-radius: 2px !important;
}
