<!-- for error messages use get(THing name)().invalid" use dirty or touched to cause error to come up-->
<div class = "everything">
  <div class = "row justify-content-center">
<div class = "card w-50">
  <div class = "card-title">
    <h5>Reset Password</h5>
  </div>
  <div class = "card-body">
<form [formGroup]="form">

  <div class = "row">
    <div class ="col">
      <div class = "form-group">
  <label>Password</label>
  <input formControlName="password" class = "form-control">
  <p class="error"  *ngIf="getPassword().hasError('doesntHaveCapitalCase')">Password must contain Capital Letter</p>
  <p class="error"  *ngIf="getPassword().hasError('doesntHaveNumber')">Password must contain Number</p>
  <p class="error"  *ngIf="getPassword().hasError('doesntHaveSmallCase')">Password must contain lower case</p>
  <p class="error"  *ngIf="getPassword().hasError('doesntHaveSpecialCharacters')">Must have Special Character</p>
  <p class="error"  *ngIf="getPassword().hasError('minlength') || getPassword().hasError('maxlength')">Password must be between 6 and 20 character</p>
      </div>
    </div>
  </div>

  <div class = "row">
    <div class ="col">
      <div class = "form-group">
  <p>Confirm Password</p>
  <input formControlName="cPassword">
  <p *ngIf="getCPassword().invalid && getCPassword().dirty" class="error">Passwords Must Match</p>
      </div>
    </div>
  </div>

  <div class = "row justify-content-center">
  <button btn btn-primary (click)="onSubmit()" [disabled]="form.invalid">Submit</button>
  </div>
</form>
  </div>
</div>
</div>
</div>
