@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

h1{
  font-size: 80px !important;
  color: var(--secondary-color);
}

h3{
  font-size: 40px;
}

@media screen and (max-width: 600px){
  h1{
    font-size: 40px !important;

  }
}

.btn-lg{
  font-family: 'Luckiest Guy', cursive;
  text-shadow: 2px 2px 2px #003c1d;
  font-size: 30px;
}

.btn-link{
  color: white !important;
  font-size: 20px;
}

h1, h3, h5{
  font-family: 'Luckiest Guy', cursive;
  text-shadow: 2px 2px 2px black;
}

.about{
  color: white;
}
.header
{
  color: white;
  margin-top: 10% !important;
}

.event{
  color: white;
}

.bottom{
  color: white;
  font-size: 13px;
  margin-top: 20%;
}
.header, .about, .faq,
.event, .bottom{
 width: 100vw;

}
.faq{
  color: white;
}

.card{
  background: transparent !important;
}

td{
  justify-content: right;
}

.btn-link,
#link{
  color: #00704a;
  cursor: pointer;
}

a{
  color: white;
  cursor: pointer !important;
}

h6{
  color: #00704a;
}

.sponsors{
  color: white;
}

.btn-primary {
  margin: 5px;
  background-color: #006064 !important;
  background-image: none !important;
  color: #ffffff !important;
  border-style: solid;
  border-color: #00000f;
}

.row{
  padding: 2%;
}

table{
  color: white !important;
}

body{
  color: transparent;
}

.accordion{
  width: 75%;
}

.card{
  border: none !important;
  outline: none !important;
  margin-bottom: -17% !important;
}

.feature-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0,1) !important; 
  border: 2px solid #000000;
  background-color: #006064 !important;
}

.feature-card:hover {
  transform: scale(2.5);
  z-index: 10;
  box-shadow: 0 8px 16px rgba(0, 0, 0);
}

.feature-image {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.feature-card:hover .feature-image {
  transform: scale(1);
}

.feature-description{
  opacity: 100%;
}

