<!--Hero Section-->
<section id="hero" class="hero-section d-flex align-items-center">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="display-4">Welcome to Grizzly Hacks</h1>
        <p class="lead">We're a Student Organization that facilitates student involvement in off-campus hackathons and organize related on-campus events.</p>
        <button class="btn btn-primary" type="button" (click)="router.navigate(['createAccount']);">Join Us</button>
      </div>
    </div>
  </div>
</section>

<!-- Divider Image -->
<img src="assets/images/HomeImageDivider.jpg" class="full-width-divider" alt="divider-image">

<!-- Features Section -->
<section class="features-section">
  <div class="container">
    <div class="row justify-content-center">
      <!-- Feature 1 -->
      <div class="col-md-4 col-sm-12 feature-box">
        <div class="feature-card">
          <div class="feature-image-wrapper">
            <img src="assets/images/GrizzlyHacksFeature1.jpg" alt="24/7 Monitoring" class="feature-image">
            <h4 style="text-align: center" class="feature-title">Teamwork in Action</h4>
          </div>
        </div>
      </div>
      <!-- Feature 2 -->
      <div class="col-md-4 col-sm-12 feature-box">
        <div class="feature-card">
          <div class="feature-image-wrapper">
            <img src="assets/images/GrizzlyHacksFeature2.jpg" alt="Threat Detection" class="feature-image">
            <h4 class="feature-title">Connecting Beyond Code</h4>
          </div>
        </div>
      </div>
      <!-- Feature 3 -->
      <div class="col-md-4 col-sm-12 feature-box">
        <div class="feature-card">
          <div class="feature-image-wrapper">
            <img src="assets/images/GrizzlyHacksFeature3.jpg" alt="Data Protection" class="feature-image">
            <h4 class="feature-title">Sharpening Coding Skills</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Sponsor Section -->
<section class="sponsor-strip">
  <div class="container">
    <div class="scrolling-wrapper">
      <img src="assets/images/fakeSponsorLogo.jpg" alt="Sponsor 1" class="sponsor-logo">
      <img src="assets/images/fakeSponsorLogo.jpg" alt="Sponsor 2" class="sponsor-logo">
      <img src="assets/images/fakeSponsorLogo.jpg" alt="Sponsor 3" class="sponsor-logo">
      <img src="assets/images/fakeSponsorLogo.jpg" alt="Sponsor 4" class="sponsor-logo">
      <img src="assets/images/fakeSponsorLogo.jpg" alt="Sponsor 5" class="sponsor-logo">
      <img src="assets/images/fakeSponsorLogo.jpg" alt="Sponsor 6" class="sponsor-logo">
      <!-- I am duplicating content here for attempted seamless scroll effect!-->
      <img src="assets/images/fakeSponsorLogo.jpg" alt="Sponsor 1" class="sponsor-logo">
      <img src="assets/images/fakeSponsorLogo.jpg" alt="Sponsor 2" class="sponsor-logo">
      <img src="assets/images/fakeSponsorLogo.jpg" alt="Sponsor 3" class="sponsor-logo">
      <img src="assets/images/fakeSponsorLogo.jpg" alt="Sponsor 4" class="sponsor-logo">
      <img src="assets/images/fakeSponsorLogo.jpg" alt="Sponsor 5" class="sponsor-logo">
      <img src="assets/images/fakeSponsorLogo.jpg" alt="Sponsor 6" class="sponsor-logo">
    </div>
  </div>
</section>


