@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

h1{
  font-size: 80px !important;
  color: var(--secondary-color);
}

h3{
  font-size: 40px;
}

@media screen and (max-width: 600px){
  h1{
    font-size: 40px !important;

  }
}

.btn-lg{
  font-family: 'Luckiest Guy', cursive;
  text-shadow: 2px 2px 2px #003c1d;
  font-size: 30px;
}

.btn-link{
  color: white !important;
  font-size: 20px;
}

h1, h3, h5{
  font-family: 'Luckiest Guy', cursive;
  text-shadow: 2px 2px 2px black;
}

.about{
  color: white;
}
.header
{
  color: white;
  margin-top: 10% !important;
}

.event{
  color: white;
}

.bottom{
  color: white;
  font-size: 13px;
  margin-top: 20%;
}
.header, .about, .faq,
.event, .bottom{
 width: 100vw;

}
.faq{
  color: white;
}

.card{
  background: transparent !important;
}

td{
  justify-content: right;
}

.btn-link,
#link{
  color: #00704a;
  cursor: pointer;
}

a{
  color: white;
  cursor: pointer !important;
}

h6{
  color: #00704a;
}

.sponsors{
  color: white;
}

.bt-large{

}

.row{
  padding: 2%;
}

table{
  color: white !important;
}

body{
  color: transparent;
}

.accordion{
  width: 75%;
}

.card{
  border: none !important;
  outline: none !important;
  margin-bottom: -17% !important;
}
