table{
  color: white !important;
  width: 100%;
}

h4, h5{
  font-family: 'Luckiest Guy', cursive;
  text-shadow: 2px 2px 2px black;
}

.form-control{
  margin: 0px;
  padding: 0px;
}

p{
  font-size: 8px;
  text-shadow: .5px .5px .5px black;
}

.btn{
  margin: 0px !important;
}

input, option{
  border-radius: 2px;
}

