div class="everything">
  <div class="row justify-content-center">
    <div class="card w-50">
        <div class="row">
            <p>SuperAdminDashboard will go here! you are currently </p>
        </div>
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Search" [(ngModel)]="search">
            </div>
            <div class="col">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filter Roles
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" (click)="filterRole('all')">All</a>
                        <a class="dropdown-item" (click)="filterRole('admin')">Admin</a>
                        <a class="dropdown-item" (click)="filterRole('superAdmin')">Super Admin</a>
                        <a class="dropdown-item" (click)="filterRole('user')">User</a>
                    </div>
                </div>
              </div>
        </div>
        <div class="row justify-content-center">
            <div class = "accounts">
                <div *ngIf="users">
                    <div *ngFor="let user of users | userQuery:'firstName,lastName,email':search" class="row">
                        <div class="col">
                            <p>Name: {{user.firstName}} {{user.lastName}}</p>
                            <p>Email: {{user.email}}</p>
                        </div>
                        <div class="col">
                            <div class='row justify-content-end'>
                                <button class = "btn btn-primary" *ngIf="!user.isAdmin" (click)="makeAdmin(user)">Make Admin</button>
                                <button class = "btn btn-primary" *ngIf="user.isAdmin" (click)="takeAdmin(user)">Take Admin</button>
                            </div>
                            <div class="row justify-content-end">
                                <button class = "btn btn-primary" *ngIf="!user.isSuperAdmin" (click)="makeSuperAdmin(user)">Make SuperAdmin</button>
                                <button class = "btn btn-primary" *ngIf="user.isSuperAdmin" (click)="takeSuperAdmin(user)">Take Super Admin</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        