<div class="everything">
  <div class="row justify-content-center">
    <div class="card w-50 h-80">
        <div class="row justify-content-center">
            <div class="col-9">
                <input type="text" class="form-control" placeholder="Search" [(ngModel)]="search">
            </div>
            <div class="col-3">
                <div class="row">
                    <p>Filter: </p>
                    <div ngbDropdown class="d-inline-block">
                        <button type="button" class="btn btn-secondary" id="dropdownBasic1" ngbDropdownToggle>
                            {{this.currentFilter}}
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem (click)="filterUsers('All')">All</button>
                            <button ngbDropdownItem (click)="filterUsers('Admin')">Admin</button>
                            <button ngbDropdownItem (click)="filterUsers('Super Admin')">Super Admin</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class = "accounts">
                <div *ngIf="users">
                    <div *ngFor="let user of users | userQuery:'firstName,lastName,email':search" class="row" id="userRow">
                        <div class="col">
                            <p>Name: {{user.firstName}} {{user.lastName}}</p>
                            <p>Email: {{user.email}}</p>
                        </div>
                        <div class="col">
                            <div class='row justify-content-end'>
                                <div class="btn-group">
                                    <button class = "btn btn-primary" *ngIf="!user.isAdmin" (click)="makeAdmin(user)">Make Admin</button>
                                    <button class = "btn btn-primary" *ngIf="user.isAdmin && !user.isSuperAdmin" (click)="takeAdmin(user)">Take Admin</button>
                                    <button class = "btn btn-primary" *ngIf="user.isAdmin && !user.isSuperAdmin" (click)="makeSuperAdmin(user)">Make SuperAdmin</button>
                                    <button class = "btn btn-primary" *ngIf="user.isSuperAdmin" (click)="takeSuperAdmin(user)">Take Super Admin</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        