.accounts{
    margin: 2%;
    padding: 3%;
    background-color: #ccf0e4;
    width: 100%;
    height: 75%;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  .btn-primary{
    margin: 2%;
  }
  
  .search{
    width: 100%;
  }
  
  #dropDownMenuButton{
    margin: 2%;
  }
  