<div class="everything">
  <div class="row justify-content-center">
    <div class="card w-50">
        <div class = "row">
          <div class = "form-check">
            <input type = "text" class = "form-control" placeholder="Search" [(ngModel)]="search">

            <div class = "row">
            <input class = "form-check-inline" type="checkbox" id = "chk1" [ngModel]="checkboxes.isAdminBox" (click)="toggleIsAd()">
            <label class = "form-check-label" for = "chk1">Is a Admin:</label>
            </div>

            <div class = "row">
            <input class = "form-check-inline" type="checkbox" id = "chk2" [ngModel]="checkboxes.noAdmin" (click)="toggleIsNoAd()">
            <label class = "form-check-label" for = "chk2">Is not a Admin</label>
            </div>

            <div class = "row">
            <input class = "form-check-inline" type="checkbox" id = "chk3" [ngModel]="checkboxes.hasApplication" (click)="toggleHasApp()">
            <label class = "form-check-label" for = "chk3">Has Application</label>
            </div>

            <div class = "row">
            <input class = "form-check-inline" type="checkbox" id = "chk4" [ngModel]="checkboxes.noApplication" (click)="toggleNoHasApp()">
            <label class = "form-check-label" for = "chk4">Doesnt have Application</label>
            </div>

            <div class = "row">
            <input class = "form-check-inline" type="checkbox" id = "chk5" [ngModel]="checkboxes.acceptedToHack" (click)="toggleAccepted()">
            <label class = "form-check-label" for = "chk5">Accepted to Hackathon</label>
            </div>

            <div class = "row">
            <input class = "form-check-inline" type="checkbox" id = "chk6" [ngModel]="checkboxes.notAcceptedToHack" (click)="toggleNotAccepted()">
            <label class = "form-check-label" for = "chk6">Not accepted to Hackathon</label>
            </div>
            </div>
        </div>

        <div class = "row justify-content-center">
          <div class = "accounts">
            <div *ngIf="users">
              <div *ngFor="let user of users | userQuery:'firstName,lastName,email':search  | checkFiler:checkboxes:thing" >
                <!--<div *ngIf="(user.uid !== auth.user.uid)"> -->
                <p>Name: {{user.firstName}} {{user.lastName}}</p>
                <p>Email: {{user.email}}</p>
                <p>Is registered for 2020: {{user.isRegisteredFor2020}}</p>
                <div *ngIf="user.pastHacks !==null && user.pastHacks !== undefined && user.pastHacks.length>0">
                  <p>Past Hacks:{{user.pastHacks}}</p>
                </div>
                <div class = "row">
                  <button class = "btn btn-primary" *ngIf="user.application !==null && user.application.submited && app.hidden" (click)="app.hidden = false">Application</button>
                  <button class = "btn btn-primary" *ngIf="user.application !==null && user.application.submited && !app.hidden" (click)="app.hidden = true">Application</button>

                  <button class = "btn btn-primary" *ngIf="!user.isAdmin" (click)="makeAdmin(user)">Make Admin</button>
                  <button class = "btn btn-primary" *ngIf="user.isAdmin" (click)="takeAdmin(user)">Remove Admin</button>
                  <button class = "btn btn-primary" *ngIf="!user.isRegisteredFor2020" (click)="accept(user)">Accept</button>
                  <button class = "btn btn-primary" *ngIf="user.isRegisteredFor2020" (click)="revoke(user)">Revoke</button>
                </div>



                    <div hidden="true" #app>
                      <div *ngIf="user.application != null">
                      <p></p>
                      <p>Gender: {{user.application.gender}}</p>
                      <p>Preferred Pronouns: {{user.application.preferredPronouns}}</p>
                      <p>Ethnicity: {{user.application.ethnicity}}</p>
                      <p>Phone number: {{user.application.phone}}</p>
                      <p>College: {{user.application.college}}</p>
                      <p>Major: {{user.application.major}}</p>
                      <p>Expected Graduation date: {{user.application.expectedGraduationDate}}</p>
                      <p>Why attend: {{user.application.whyAttend}}</p>
                      <p>What to learn: {{user.application.whatDoYouWantToLearn}}</p>
                      <p>Linkedin: {{user.application.whatDoYouWantToLearn}}</p>
                      <p>Github: {{user.application.gitHub}}</p>
                      <b>Emergency Contact</b>
                      <p>First Name: {{user.application.emergencyContactFirstName}}</p>
                      <p>Last Name: {{user.application.emergencyContactLastName}}</p>
                      <p>Phone: {{user.application.emCPhoneNumber}}</p>
                      <p>Relation: {{user.application.emergencyContactRelationWithApplicant}}</p>
                      <button class = "btn btn-primary" (click)="app.hidden = true">Close</button>
                    </div>
                  </div>

                <hr/>
            </div>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>
