#link{
  color: #00704a;
  cursor: pointer;
}

.everything {
  height: 100vh;
}

header{
  background: transparent !important;
}

body{
  background: transparent !important;
}

footer{
  background: transparent !important;
}

.form{
  align-content: center;
}

.card
{
  margin: 50px;
  padding: 75px;
}

.btn{
  margin-top: 25px;
}
