<body>
<div class = "card">
  <div class = "card-title">
    <h5>Log In!</h5>
  </div>
  <div class = "card-body">
<form [formGroup]="loginForm" *ngIf="!passwordReset">
  <p> email</p>
  <input formControlName="email">
  <p>Password</p>
  <input formControlName="password">

  <p (click)="passwordReset = true" id="link">Reset Password</p>

  <button class = "btn btn-primary" (click)="auth.loginUser(loginForm)">Login</button>
</form>

<div *ngIf="passwordReset">
  <p> email</p>
  <input #email>
  <button class = "btn btn-primary" (click)="auth.passwordRecovery(email.value)">Reset Password</button>
  <button class = "btn btn-primary" (click)="passwordReset = false">Back</button>
</div>
</div>
</div>
</body>
