footer {
  background-color: rgba(0,0,0,0%);
  padding: 20px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.footer-content{
  text-align: center;
  padding-top: 20px;
}

p {
  font-size: 28px;
  font-weight: bold;
  color: #FF79C6;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-bottom: 15px;
  position: relative;
}

ul {
  list-style: none;
  gap: 20px;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  margin: 0 auto;
}

ul li {
  display: inline-block;
  background: #FF79C6;
  border-radius: 50%;
  padding: 8px;
  transition: transform 0.3s ease;
}

ul li a img {
  width: 30px;
  height: 30px;
}

ul li:hover {
  transform: scale(1.1);
}

.footer-copyright {
  font-size: 10px;
  padding: 20px;
}

@media screen and (max-width: 1200px){
  p {
    font-size: 24px;
  }
}
@media screen and (max-width: 768px) {
  p {
    font-size: 22px;
  }
}


