<footer>
  <div class = "footer-content">
    <p> Stay Connected! </p>
    <nav>
      <ul>
        <li>
          <a href = "https://www.instagram.com/grizzly_hacksggc/?hl=en">
            <picture>
              <img src = "/assets/images/instagram.png" width = "48" height = "48" alt="Instagram icon">
            </picture>
          </a>
        </li>
        <li>
          <a href = "https://discord.gg/Wt9fYZeB">
            <picture>
              <img src = "/assets/images/discord.png" width = "48" height = "48" alt = "Discord icon">
            </picture>
          </a>
        </li>
        <li>
          <a href = "https://github.com/grizzlyhacks">
            <picture>
              <img src = "/assets/images/github.png" width = "48" height = "48" alt="Github icon">
            </picture>
          </a>
        </li>
        <li>
          <a href = "https://linktr.ee/grizzlyhacksggc">
            <picture>
              <img src = "/assets/images/linktree.png" width = "48" height = "48" alt="Linktree icon">
            </picture>
          </a>
        </li>
      </ul>
    </nav>
    <p class = "footer-copyright">&copy; {{currentYear}} GrizzlyHacks. All Rights Reserved.</p>
  </div>
</footer>
