/* You can add global styles to this file, and also import other style files */

html,
body {

}

.btn-link,
#link{
  color: #00704a;
  cursor: pointer;
}

a{
  color: #00704a;
  cursor: pointer;
}

.btn-primary,
.btn-outline-secondary
{
  background-color: #00704a !important;
  border: none !important;
  color: white !important;
  border-radius: 0px !important;
}

.guts{
  margin-left: 16% !important;
  margin-right: 16% !important;
}

.btn-primary:hover
{
  background-color: #0b2e13 !important;
}

.btn-outline-secondary:hover{
  background-color: #0b2e13 !important;
}

.btn-primary:focus,
.btn-primary:active
{
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

html
{
  overflow-x: hidden !important;
}

.error{
  color: red;
}

.everything{
  background: url("/assets/background.png") no-repeat bottom center fixed,
  linear-gradient(rgb(0,82,150), rgb(20,25,58)) !important;
  background-size: cover !important;
  height: 100%;
}

header{
  background: transparent;
}

body{
  background: transparent;
}

footer{
  background: transparent;
}

.form{
  align-content: center;
}

.card
{
  margin-left: 10% !important;
  margin-right: 10% !important;
  margin-top: 5% !important;
  padding: 5% !important;
  border-radius: 2px;
}

@media screen and (max-width: 550px){
  .card{
    margin-left: 5% !important;
    margin-right: 5% !important;
    margin-top: 15% !important;
  }
}

.btn{
  margin-top: 25px;
}

.shootingstar {
  position: absolute;
  top: 100%;
  left: 100%;
  right: 100%;
  height: 1px;
  background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
  filter: drop-shadow(0 0 6px #699bff);
  animation: tail 24000ms ease-in-out infinite, shooting 24000ms ease-in-out infinite;
}

.shootingstar::before, .shootingstar::after{
  position: absolute;
  content: '';
  top: calc(50% - 1px);
  right: 0;
  height: 1px;
  width: 100%;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
  border-radius: 100%;
  transform: translateX(50%) rotateZ(45deg);
  animation: shining 6000ms ease-in-out infinite;
}

.shootingstar::after {
  transform: translateX(50%) rotateZ(-45deg);
}

.shootingstar:nth-child(1){
  top: calc(30% - 200px);
  left: 0;
  right: 100%;
  animation-delay: 1400ms;
}

.shootingstar:nth-child(1)::before, .shootingstar:nth-child(1)::after{
  animation-delay: 1400ms;
}

@keyframes tail {
  0% {
    width: 0;
  }

  30% {
    width: 100px;
  }

  100% {
    width: 0;
  }
}

@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}

@keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}

input, option, .form-control{
  border-radius: 2px !important;
}
