header {
    padding: 50px;
}

h4 {
  color: black;
  text-align: center;
  padding-top: 20px;
}

.modal-body{
  color: black;
}

label{
  color: black;
  font-weight: bold;
}

#link {
  color: #1e7e34;
}

.btn-primary {
  margin: 5px;
  background-color: #006064 !important;
  background-image: none !important;
  color: #ffffff !important;
  border-style: solid;
  border-color: #00000f;
}