.navbar-brand {
  width: 75px !important;
  height: 75px !important;

}

.navbar {
  width: 100% !important;
  position: relative !important;
  z-index: 1000 !important;
  background: var(--secondary-color)  !important;

}

button {
  margin:var(--spacing-sm) !important;
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
  font-size: 20px;
}

.btn-outline-secondary{
  height: 40px !important;
  color: white !important;
  background-color: transparent !important;
  border: none !important;
  border-radius: 0px;
}

.btn-outline-secondary:hover{
  background-color: var(--primary-color) !important;
  border-radius: 0px;
}

.btn-outline-secondary:active,
.btn-outline-secondary:focus{
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

@media (max-width: 344px) and (max-height: 882px){
  .navbar-brand {
    width: 55px !important;
    height: 55px !important;
    padding-top: 10px !important;
    padding-right: 15px !important;
  }
}


