.navbar-brand {
  width: 75px;
  height: 75px;
}

button {
  font-size: 25px;
  margin: 10px;
  height: 40px;
  color: white;
  background-color: transparent;
  border: none;
  border-radius: 0px;
}



.nav-item:hover {
  background-color: #f3cd94;
  border-radius: 15px;
  color: #1d2430;
}


@media (max-width: 344px) and (max-height: 882px) {
  .navbar-brand {
    width: 55px !important;
    height: 55px !important;
    padding-top: 10px !important;
    padding-right: 15px !important;
  }
}