<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <div class = "container-fluid">
    <a class="navbar-brand" href="#">
      <picture>
        <img src="/assets/logo.png" class="img-fluid" width="100" height="100" alt="">
      </picture>
    </a>
    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse" data-bs-target="#navmenu" aria-controls="navmenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navmenu">
    <ul class="navbar-nav ms-auto text-end w-100">
      <!-- Home Button -->
      <li class="nav-item" routerLink="/home">
        <button class="btn btn-sm btn-outline-secondary" type="button" routerLink="/home">Home</button>
      </li>

      <!-- Blog Button -->
      <li class="nav-item">
        <button class="btn btn-sm btn-outline-secondary" type="button" routerLink="/blogHome">Blog</button>
      </li>

      <!-- Login -->
      <li class="nav-item" *ngIf="auth.user === null || !auth.verified">
        <button class="btn btn-sm btn-outline-secondary" type="button" (click)="router.navigate(['login']);">Log In</button>
      </li>

      <!-- Create Account -->
      <li class="nav-item" *ngIf="auth.user === null || !auth.verified">
        <button class="btn btn-sm btn-outline-secondary" type="button" (click)="router.navigate(['createAccount']);">Create Account</button>
      </li>

      <!-- User Dashboard -->
      <li class="nav-item" *ngIf="auth.user !== null && auth.verified">
        <button class="btn btn-sm btn-outline-secondary" type="button" routerLink="/user">User Dashboard</button>
      </li>
      <!--Admin Dashboard-->
      <li class="nav-item" *ngIf="auth.user !== null && auth.verified && auth.adminLevel > 0">
        <button class="btn btn-sm btn-outline-secondary" type="button" routerLink="/admin">Admin Dashboard</button>
      </li>

      <!-- Sign Out -->
      <li class="nav-item" *ngIf="auth.user !== null">
        <button class="btn btn-sm btn-outline-secondary" type="button" (click)="auth.signOut()">Sign Out</button>
      </li>
    </ul>
    </div>
  </div>
</nav>
