.admin-container {
  max-width: 800px;
  margin: auto;
  margin-top: 25px;
  padding: 20px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #333; 
}

.admin-container form div {
  margin-bottom: 10px;
}

h1,h2,h3 {
  color: #333; 
}

.admin-container input,
.admin-container textarea,
.admin-container label {
  color: #333; 
}

.admin-container label {
  display: inline-block;
  width: 100px;
}

.admin-container input,
.admin-container textarea {
  width: calc(100% - 110px);
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333; 
}

.form-buttons {
  margin-top: 10px;
}

.form-buttons button {
  margin-right: 10px;
}

.event-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  background: #fff;
  border-radius: 3px;
  
}

.item-buttons button {
  margin-right: 10px;
}


.edit-button {
  background-color: #3498db;
  color: #fff;
  font-size: 1em;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-button:hover {
  background-color: #2980b9;
}

.delete-button {
  background-color: #e74c3c;
  color: #fff;
  font-size: 1em;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #c0392b;
}


.conclude-day button {
  background-color: #e74c3c;
  color: #fff;
  font-size: 1.2em;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.conclude-day button:hover {
  background-color: #c0392b;
}

.create-button {
  background-color: #27ae60; 
  color: #fff;
  font-size: 1em;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-button:hover {
  background-color: #219150; 
}

.update-button {
  background-color: #3498db; 
  color: #fff;
  font-size: 1em;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.update-button:hover {
  background-color: #2980b9;
}

.error-message {
  color: #e74c3c;  
  font-size: 0.85em;
  margin-top: 4px;
}
