service cloud.firestore {


  match /databases/{database}/documents {
  
  match /{documents=**} {
  	allow read, write: if isAdmin();
  }
    
    //for user documents
    match /users/{UserID} {
    	//allow write if they are an admin or a user that ownes the doc and are not tring to change isAdmin or acceptedToHack
      allow write: if( 
      //if is owner and not changing their admin status and not trying to accept to hack
      ( isOwner( UserID ) && adminFieldSafe()  && hackAcceptanceSafe()));
      allow read: if (isOwner(UserID));
    }
    
    match /events/{document=**} {
    	allow read: if true;
      allow write: if( isAdmin());
    }
    
    
      	// checks if the requester is the owner of the document  wprks
  	function isOwner(userId) {
     return request.auth.uid == userId;
    }
    
    // checks if the requester is a admin
    function isAdmin(){
      return (get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true); 
    }
    
    //checks to make sure incoming document doesnt change the admin feild
    function adminFieldSafe(){
      return !request.resource.data.isAdmin;
    }
    
    function hackAcceptanceSafe(){
    		return (request.resource.data.isRegisteredFor2020 == false ||
        request.resource.data.isRegisteredFor2020 == get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isRegisteredFor2020);
    
     //  return (request.resource.data.isRegisteredFor2020!= get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isRegisteredFor2020)
    }
    
  
    
  }
 }
  
  