:root
{
    /* Global Colors */
    --primary-color: #a1f8d7;   /* Bright Cyan */
    --secondary-color: #006064; /* Neon Green */
    --title-color: #00333a;
    --text-color: #f8f8f2; /* Off-White */
    --alternative-text-color: #050505;
    --background-color: #282a36 ;/* Dark Gray */
    --secondary-background-color: #241f23 ;/* Light Gray */
    --accent-color: #FF79C6;    /* Bright Pink */
    --font-family: 'Rajdhani', sans-serif;
     /*Dropdown background*/


    /*Global spacing */
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;


    /* Global Font Sizes */
    --font-size-base: 16px;
    --font-size-mobile: 14px;
  }

  /*Hero Section Styling */
  .hero-section {
    background-color: var(--background-color);
    padding: 150px 0;
    text-align: center;
}

.hero-section h1 {
  font-size: 100px;
  font-family: var(--font-family);
  line-height: 1.2;
  font-weight: 300;
  color: var(--text-color);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
  
  /*Typing Effect*/
  .hero-section .typing-effect {
    display: inline; /* Ensures it stays inline with the text */
    border-right: 3px solid var(--text-color);
    white-space: nowrap;
    overflow: hidden;
    font-size: 90px; /* Matches the hero text size */
    font-family: 'Rajdhani', sans-serif;
    line-height: 1.2;
  }
  
  .hero-section .cursor {
    display: inline-block;
    animation: blink 0.7s step-start infinite;
    vertical-align: bottom; /* Aligns with the text baseline */
    font-size: 90px; /* Matches the hero text size */
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .hero-section h1,
    .hero-section .typing-effect,
    .hero-section .cursor {
      font-size: 90px; /* Adjust font size for smaller screens */
      white-space: normal; /* Allows wrapping */
    }
  }

  
  /* Features Header Styling */
  .features-header-section {
    text-align: center;
    padding-top: 80px;
  }
  
  
  .hero-section p {
    color: var(--text-color);
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .hero-section .btn-primary {
    background-color: var(--accent-color);
    border: none;
    color: var(--text-color);
    padding: 16px 30px;
    font-size: 24px;
    border-radius: 5px;
    transition: background 0.3s ease, transform 0.3s ease;
  }
  
  .hero-section .btn-primary:hover {
    background-color: var(--accent-color);
    transform: scale(1.1); /* Subtle hover animation */
    color: #fff;
  }


/* Features Header Styling */
.features-header-section {
  text-align: center;
  padding-top: 80px;
}

.features-header {
  font-size: 50px;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  color: var(--text-color);
  text-align: center;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.9s ease-in-out, transform 0.6s ease-in-out;
}

.features-header-section.in-view .features-header {
  opacity: 1;
  transform: translateY(0);
}




/* Features Section Styling */
.feature-box {
  margin: 15px 40px; /* 15px for top/bottom and 20px for left/right */
  display: flex;
  justify-content: center;
  flex: 0 1 300px; /* This ensures a uniform width and makes it responsive */
}
.feature-card {
  perspective: 1000px;
  width: 100%;
  max-width: 300px;
  height: 400px;
  margin-bottom: 30px;
}

.feature-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.feature-card:hover .feature-card-inner {
  transform: rotateY(180deg);
}

.feature-card-front, .feature-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
}

.feature-card-front {
  background-color: var(--secondary-color);
}

.feature-card-back {
  background-color: var(--secondary-color);
  color: var(--text-color);
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

/* Adjust the image size */
.feature-image-wrapper {
  width: 100%;
  height: 70%;
  background-color: var(--secondary-color);
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  align-items: center;
  border: 10px solid var(--secondary-color); /* Add a thin border for a clean look */
}

.feature-image {
  width: 100%;
  height: 90%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.feature-title {
  font-size: 18px;
  padding: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.feature-description {
  font-size: 16px;
  color: var(--text-color);
}



/* Home Page Divider code*/

.full-width-divider
{
    width: 100%; /* Ensure it spans the full width */
    height: 150px;
    object-fit: cover; /* Makes sure the image covers the area */
    display: block;
    margin: 0 auto;
    max-height: 150px; /* Set a reasonable maximum height */
  }


.hero-section
{
    padding-bottom: 50px; /* Adjust as needed */
  }

  .features-section
  {
    padding-top: 50px; /* Adjust as needed */
  }



  /* Apply global styles */

#link{
  color: #c9f8b8;
  cursor: pointer;
  text-decoration: underline;
}



  body
  {
    font-family: var(--font-family) !important;
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
  }

  h1, h2, h3, h4, h5, h6
  {
    font-family: var(--font-family) !important;
    font-weight: 700; /* Bold for headings */
    color: var(--text-color); /* Ensure text color is consistent */
  }

  header
  {
    background-color: var(--primary-color);
  }

  .card
  {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-radius: 8px;
  }

  /* Button Styling */
  .btn-primary,
  .btn-outline-secondary
  {
    background-color: var(--primary-color) !important;
    color: black !important;
    border-radius: 0px !important;
  }
  .btn-primary {
    background: linear-gradient(90deg, var(--primary-color) 0%, var(--accent-color) 100%);
  }

.btn-primary:hover {
    background: linear-gradient(90deg, #ff79c6, #50fa7b);
    border-radius: 50px;
    transition: background 0.3s ease;
}

  /* Responsive Typography for Mobile */
  @media (max-width: 768px)
  {
    body
    {
      font-size: var(--font-size-mobile);
    }
  }



/* Sponsor Strip Styling */
.sponsor-strip {
  background-color: var(--background-color);
  padding: 10px 10px 10px 10px;
}

.scrolling-wrapper {
  display: flex;
  overflow-x: hidden;
  white-space: nowrap;
  width: 100%;
  padding-bottom: 80px;
}

.scrolling-wrapper::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */

}

.sponsor-logo {
  height: 150px;
  margin-right: 40px;
  width: 200px;
  flex-shrink: 0; /* Prevent images from shrinking */
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}