@media screen and (max-width: 768px) {
    .faq-section {
        width: 100%;
    }
    .faq-row{
        flex-direction: column;
    }
    .faq-item {
        width: 100%;
    }
    .faq-question {
        padding: 12px;
        font-size: 17px;
    }
    .faq-answer {
        font-size: 17px;
        border-left: 3px solid #ff5722;
    }

    
}
.faq-section {
    width: 80%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 3px #000000, 0 0 5px #000000;
    text-align:center;
}

.faq-row {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.faq-item {
    margin-bottom: 20px;
    flex: 0 0 48%;
    box-sizing: border-box;
}

.faq-question {
    background-color: var(--secondary-color);
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.faq-question h6 {
    margin: 0;
}

.faq-answer {
    padding: 10px;
    background-color:var(--title-color);
    border-left: 3px solid #007bff;
    margin-top: 5px;
    border-radius: 5px;}