.everything {
    height: 100%;
}
.accounts{
    margin: 2%;
    padding: 3%;
    background-color: #f2f2f2;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
  
.btn-secondary{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
}

.btn-primary {
    margin: 5px;
}
  
.search{
    width: 100%;
}

#userRow {
    border: 1px solid black;
    background-color: #ccf0e4;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}