<div class="everything">
  <div class="row justify-content-center">
    <div class="card w-50 h-80">
        <h1>Admin Dashboard</h1>
        <h3>Filters</h3>
        <div class="row justify-content-center">
            <input type="text" class="form-control" placeholder="Search" [(ngModel)]="search">
        </div>
        <div class="row">
            <div class="col">
                <h4>Admin Level</h4>
                <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn btn-secondary" id="dropdownBasic1" ngbDropdownToggle>
                        {{this.adminFilter}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem (click)="changeAdminFilter('All Members')">All Members</button>
                        <button ngbDropdownItem (click)="changeAdminFilter('Non-Admin')">Non-Admins</button>
                        <button ngbDropdownItem (click)="changeAdminFilter('Admin')">Admin</button>
                        <button ngbDropdownItem (click)="changeAdminFilter('Super Admin')">Super Admin</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <h4>Application</h4>
                <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn btn-secondary" id="dropdownBasic2" ngbDropdownToggle>
                        {{this.applicationFilter}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                        <button ngbDropdownItem (click)="changeApplicationFilter('All')">All</button>
                        <button ngbDropdownItem (click)="changeApplicationFilter('Has Application')">Has Application</button>
                        <button ngbDropdownItem (click)="changeApplicationFilter('Missing Application')">Missing Application</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <h4>Hackathon</h4>
                <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn btn-secondary" id="dropdownBasic3" ngbDropdownToggle>
                        {{this.acceptedFilter}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic3">
                        <button ngbDropdownItem (click)="changeAcceptedFilter('All')">All</button>
                        <button ngbDropdownItem (click)="changeAcceptedFilter('Accepted to Hackathon')">Accepted to Hackathon</button>
                        <button ngbDropdownItem (click)="changeAcceptedFilter('Not Accepted to Hackathon')">Not Accepted to Hackathon</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class = "accounts">
                <div *ngIf="users">
                    <div *ngFor="let user of users | userQuery:'firstName,lastName,email':search" class="row" id="userRow">
                        <div class="col">
                            <p>Name: {{user.firstName}} {{user.lastName}}
                            <br>Email: {{user.email}}</p>
                        </div>
                        <div class="col justify-content-center">
                            <div class='row justify-content-end'>
                                <button class = "btn-primary" *ngIf="auth.adminLevel >= 1 && user.application != null" (click)="showApplication(user)">Application</button>
                                <button class = "btn-primary" *ngIf="auth.adminLevel >= 1 && user.application != null && user.isRegisteredFor2020" (click)="acceptApplication(user)">Accept</button>
                                <button class = "btn-primary" *ngIf="auth.adminLevel >= 1 && user.application != null && !user.isRegisteredFor2020" (click)="revokeApplication(user)">Revoke</button>
                            </div>
                            <div class='row justify-content-end'>
                                <button class = "btn-primary" *ngIf="auth.adminLevel >= 1 && user.adminLevel == 0" (click)="makeAdmin(user)">Make Admin</button>
                                <button class = "btn-primary" *ngIf="auth.adminLevel >= 1 && user.adminLevel == 1" (click)="takeAdmin(user)">Take Admin</button>
                                <button class = "btn-primary" *ngIf="auth.adminLevel == 2 && user.adminLevel == 1" (click)="makeSuperAdmin(user)">Make Super Admin</button>
                                <button class = "btn-primary" *ngIf="auth.adminLevel == 2 && user.adminLevel == 2" (click)="takeSuperAdmin(user)">Take Super Admin</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- auth.adminLevel > 0 -->
        