.everything {
    height: 100%;
}
.accounts{
    margin: 2%;
    padding: 3%;
    background-color: #f2f2f2;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.filter-box{
    margin: 0%;
    padding: 3%;
    background-color: #f2f2f2;
}
  
.btn-dropdown{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    background-color: #585858;
    color: #ffffff;
}

.btn-primary {
    margin: 5px;
}

.btn-application {
    margin: 5px;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    background-color: #0d8abf;
    color: #ffffff;
}

.btn-warn {
    margin: 5px;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    background-color: #d41515;
    color: #ffffff;
}

.text-red {
    color: #d41515;
}
  
.search{
    width: 100%;
}

#userRow {
    border: 1px solid black;
    background-color: #ccf0e4;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}