<div class="everything">
  <div class="row justify-content-center">
    <div class="card w-50 h-80">
        <h1>Admin Dashboard</h1>
        <h3>Filters</h3>
        <div class="row justify-content-center">
            <input type="text" class="form-control" placeholder="Search" [(ngModel)]="search">
        </div>
        <div class="row">
            <div class="col">
                <h4>Member List</h4>
                <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn btn-dropdown" id="dropdownBasic1" ngbDropdownToggle>
                        {{this.adminFilter}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem (click)="changeAdminFilter('All Members')">All Members</button>
                        <button ngbDropdownItem (click)="changeAdminFilter('Non-Admins')">Non-Admins</button>
                        <button ngbDropdownItem (click)="changeAdminFilter('Admins')">Admins</button>
                        <button ngbDropdownItem (click)="changeAdminFilter('Super Admins')">Super Admins</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <h4>Application</h4>
                <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn btn-dropdown" id="dropdownBasic2" ngbDropdownToggle>
                        {{this.applicationFilter}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                        <button ngbDropdownItem (click)="changeApplicationFilter('No Filter')">No Filter</button>
                        <button ngbDropdownItem (click)="changeApplicationFilter('Has Application')">Has Application</button>
                        <button ngbDropdownItem (click)="changeApplicationFilter('Missing Application')">Missing Application</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <h4>Hackathon</h4>
                <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn btn-dropdown" id="dropdownBasic3" ngbDropdownToggle>
                        {{this.acceptedFilter}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic3">
                        <button ngbDropdownItem (click)="changeAcceptedFilter('No Filter')">No Filter</button>
                        <button ngbDropdownItem (click)="changeAcceptedFilter('Accepted to Hackathon')">Accepted</button>
                        <button ngbDropdownItem (click)="changeAcceptedFilter('Not Accepted to Hackathon')">Not Accepted</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class = "accounts">
                <div *ngIf="users">
                    <div *ngFor="let user of users | userQuery:'firstName,lastName,email':search" class="row" id="userRow">
                        <div class="col">
                            <h5>{{user.firstName}} {{user.lastName}}</h5>
                            <h6>Email: {{user.email}}</h6>
                            <div *ngIf="user.application == null">
                                <b><p class="text-red">Application Missing</p></b>
                            </div>
                            <div *ngIf="user.application != null && !user.application.submited">
                                <b><p class="text-red">Application Not Submitted</p></b>
                            </div>
                            <div *ngIf="user.application != null && user.application.submited">
                                <p>Phone number: {{user.application.phone}}</p>
                            </div>
                            <div hidden="true" #app>
                                <div *ngIf="user.application != null">
                                    <hr>
                                    <div>
                                        <b>Identity</b>
                                        <p>Gender: {{user.application.gender}}
                                        <br>Preferred Pronouns: {{user.application.preferredPronouns}}
                                        <br>Ethnicity: {{user.application.ethnicity}}</p>
                                        <hr>
                                    </div>
                                    <div>
                                        <b>School</b>
                                        <p>College: {{user.application.college}}
                                        <br>Major: {{user.application.major}}
                                        <br>Expected Graduation date: {{user.application.expectedGraduationDate}}</p>
                                        <hr>
                                    </div>
                                    <div>
                                        <b>Other</b>
                                        <p>Why attend: {{user.application.whyAttend}}
                                        <br>What to learn: {{user.application.whatDoYouWantToLearn}}</p>
                                        <hr>
                                    </div>
                                    <div>
                                        <b>Emergency Contact</b>
                                        <p>Linkedin: {{user.application.whatDoYouWantToLearn}}
                                        <br>Github: {{user.application.gitHub}}</p>
                                        <hr>
                                    </div>
                                    <div>
                                        <b>Emergency Contact</b>
                                        <p>First Name: {{user.application.emergencyContactFirstName}}
                                        <br>Last Name: {{user.application.emergencyContactLastName}}
                                        <br>Phone: {{user.application.emCPhoneNumber}}
                                        <br>Relation: {{user.application.emergencyContactRelationWithApplicant}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col justify-content-center">
                            <div class='row justify-content-end'>
                                <button class = "btn-primary" *ngIf="auth.adminLevel >= 1 && user.adminLevel == 0" (click)="makeAdmin(user)">Make Admin</button>
                                <button class = "btn-warn" *ngIf="auth.adminLevel >= 1 && user.adminLevel == 1" (click)="takeAdmin(user)">Take Admin</button>
                                <button class = "btn-primary" *ngIf="auth.adminLevel == 2 && user.adminLevel == 1" (click)="makeSuperAdmin(user)">Make Super Admin</button>
                                <button class = "btn-warn" *ngIf="auth.adminLevel == 2 && user.adminLevel == 2" (click)="takeSuperAdmin(user)">Take Super Admin</button>
                            </div>
                            <div class='row justify-content-end'>
                                <button class = "btn-application" *ngIf="user.application != null && user.application.submited && !app.hidden" (click)="app.hidden = true">Hide Application</button>
                                <button class = "btn-application" *ngIf="user.application != null && user.application.submited && app.hidden" (click)="app.hidden = false">Show Application</button>
                                <button class = "btn-primary" *ngIf="user.application != null && user.application.submited && user.isRegisteredFor2020" (click)="acceptApplication(user)">Accept Application</button>
                                <button class = "btn-warn" *ngIf="user.application != null && user.application.submited && !user.isRegisteredFor2020" (click)="revokeApplication(user)">Revoke Application</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        