<div class="everything">
  <div class="row justify-content-center">
    <div class="card w-50 h-80">
        <h1>Admin Dashboard</h1>
        <h3>Filters</h3>
        <div class="row justify-content-center">
            <input type="text" class="form-control" placeholder="Search" [(ngModel)]="search">
        </div>
        <table>
            <tr>
              <th>Admin Level</th>
              <th>Application</th>
              <th>Hackathon</th>
            </tr>
            <tr>
              <td>
                <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn btn-secondary" id="dropdownBasic1" ngbDropdownToggle>
                        {{this.currentFilter}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem (click)="filterUsers('Non-Admin')">Non-Admin</button>
                        <button ngbDropdownItem (click)="filterUsers('Admin')">Admin</button>
                        <button ngbDropdownItem (click)="filterUsers('Super Admin')">Super Admin</button>
                    </div>
                </div>
              </td>
              <td>
                <div class = "row">
                    <label class = "form-check-label" for = "chk1">Has an Application:</label>
                    <input class = "form-check-inline" type="checkbox" id = "chk1" [ngModel]="checkboxHasApplication" (click)="toggleHasApplicationCheckbox()">
                </div>
              </td>
              <td>
                <div class = "row">
                    <label class = "form-check-label" for = "chk1">Accepted to Hackathon:</label>
                    <input class = "form-check-inline" type="checkbox" id = "chk1" [ngModel]="checkboxAcceptedToHackathon" (click)="toggleAcceptedToHackathon()">
                </div>
              </td>
            </tr>
          </table>
        <div class="row justify-content-center">
            <div class = "accounts">
                <div *ngIf="users">
                    <div *ngFor="let user of users | userQuery:'firstName,lastName,email':search" class="row" id="userRow">
                        <div class="col">
                            <p>Name: {{user.firstName}} {{user.lastName}}</p>
                            <p>Email: {{user.email}}</p>
                        </div>
                        <div class="col">
                            <div class='row justify-content-end'>
                                <div class="btn-group">
                                    <button class = "btn btn-primary" *ngIf="auth.adminLevel >= 1 && user.adminLevel == 0" (click)="makeAdmin(user)">Make Admin</button>
                                    <button class = "btn btn-primary" *ngIf="auth.adminLevel >= 1 && user.adminLevel == 1" (click)="takeAdmin(user)">Take Admin</button>
                                    <button class = "btn btn-primary" *ngIf="auth.adminLevel == 2 && user.adminLevel == 1" (click)="makeSuperAdmin(user)">Make Super Admin</button>
                                    <button class = "btn btn-primary" *ngIf="auth.adminLevel == 2 && user.adminLevel == 2" (click)="takeSuperAdmin(user)">Take Super Admin</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- auth.adminLevel > 0 -->
        