<!--
<div>

  <button (click)="router.navigate(['login'])"  *ngIf="auth.user === null">Login</button>

  <button (click)="router.navigate(['createAccount'])" *ngIf="auth.user === null">Create Account</button>

  <button (click)="router.navigate(['']); auth.sighOut()" *ngIf="auth.user">sign out</button>

  <button routerLink="/dashboard" *ngIf="auth.user && auth.verified"> User Dashboard</button>

</div>
-->
<nav class="navbar navbar-dark bg-dark">
  <div>
  <a class="navbar-brand" href="#">
    <img src="/assets/logo.png" width="150" height="150" alt="">
  </a>
  </div>
<div class="justify-content-end">
  <button class="btn btn-sm btn-outline-secondary" type="button" (click)="router.navigate(['login'])"  *ngIf="auth.user === null">Log In</button>

  <button class="btn btn-sm btn-outline-secondary" type="button" (click)="router.navigate(['createAccount'])" *ngIf="auth.user === null">Create Account</button>

  <button class="btn btn-sm btn-outline-secondary" type="button" (click)="router.navigate(['']); auth.sighOut()" *ngIf="auth.user">Sign Out</button>

  <button class="btn btn-sm btn-outline-secondary" type="button" routerLink="/dashboard" *ngIf="auth.user && auth.verified">User Dashboard</button>
</div>
</nav>
