/* This is for the asterisk symbol */
.required-asterisk {
  color: black;
  font-weight: bold;
}

/* This is for the error message styling */
.error {
  color: black;
  font-size: 1.1rem;
  font-weight: bold;
}

.card {
  margin-top: 40px;
}

.wrapper {
  height: 100vh;
}

.card-title {
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

button {
  background-color: #f3cd94;
  padding: 10px;
  border: none;
  font-weight: bold;
  border-radius: 5px;
}

label {
  font-size: large;
  font-weight: bold;
}

span {
  font-weight: bold;
}

@media (max-width: 768px) {
  .card.w-50 {
    width: 95% !important;
    margin: 20px auto;
  }

  .wrapper {
    height: auto;
    padding: 0 10px;
  }

  input {
    font-size: 1rem;
    padding: 10px;
  }

  label {
    font-size: 1rem;
  }

  .card-title h3 {
    font-size: 1.2rem;
  }

  button {
    width: 100%;
    font-size: 1rem;
  }
}