.card{
  margin-top: 10px;
}

.everything{
  height: 100vh;
  width: 100vw;
}

.card-title{
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

input{
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

