<div class="everything">
  <div class="row justify-content-center">
    <div class="card w-50">
      <div class="card-title"> Submit Projects
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-sm">
              <div class="form-group">
                <label>Description of Project*: </label>
                <input
                  type="text"
                  id="description"
                  class="form-control"
                  ngModel
                  name="description">
                </div>

              <div class="form-group required">
                <label>Group Members*: </label>
                <input type="text"
                       id="Group Members"
                       class="form-control"
                       ngModel
                       name="members">
              </div>

              <div>
                <label>Group Logo: </label>
                <input type="text"
                       id="logo"
                       class="form-control"
                       ngModel
                       name="logo">
              </div>

              <div>
                <label>Link to repo: </label>
                <input type="text"
                       id="Repo"
                       class="form-control"
                       ngModel
                       name="Repo">
              </div>

              <button class="btn btn-primary" type="submit">Submit</button>
              </div>
            </div>
        </form>
      </div>
  </div>
</div>
</div>
<footer>
  <app-footer></app-footer>
</footer>
