#blog-posting-footer {
  padding: 10px;
}

.btn-primary {
  margin: 5px;
  background-color: #006064 !important;
  background-image: none !important;
  color: #ffffff !important;
  border-style: solid;
  border-color: #00000f;
}
