<div class="sponsor-section">
    <h2>Our Sponsors!</h2>
    <div class="sponsor-row">
        <div class="sponsor-item">
            <img src="assets/images/fake-sponsor.png" alt="Sponsor 1" class="sponsor-logo">
            <img src="assets/images/fake-sponsor.png" alt="Sponsor 2" class="sponsor-logo">
            <img src="assets/images/fake-sponsor.png" alt="Sponsor 3" class="sponsor-logo">
            <img src="assets/images/fake-sponsor.png" alt="Sponsor 4" class="sponsor-logo">
            <img src="assets/images/fake-sponsor.png" alt="Sponsor 5" class="sponsor-logo">
            <img src="assets/images/fake-sponsor.png" alt="Sponsor 6" class="sponsor-logo">
        </div>
    </div>