<ng-container *ngIf="(events$ | async)?.length > 0">
  <div class="timeline-header">
    <h1>Schedule for the day</h1>
    <img src="../../assets/images/bear-eating-honey.jpg" alt="A grizzly bear eating honey." class="bear-image">
  </div>
</ng-container>

<div class="timeline-container">
  <ng-container *ngIf="(events$ | async)?.length > 0">
    <div class="timeline-label top-label">Start</div>
  </ng-container>
  
  <ng-container *ngIf="(events$ | async)?.length > 0">
    <div class="timeline-line"></div>
  </ng-container>

  <ng-container *ngIf="events$ | async as events; else loading">
    <ng-container *ngIf="events.length > 0; else noEvents">
      <div *ngFor="let event of events; let i = index" class="timeline-event">
        <div *ngIf="i !== 0" class="event-marker"></div>
        <div class="event-content">
          <h2 class="event-title">{{ event.title }}</h2>
          <h3 class="event-location">Location: {{ event.location }}</h3>
          <p class="event-description">{{ event.description }}</p>
          <small class="event-time">
            {{ event.startTime | date:'medium' }} -
            {{ event.endTime | date:'medium' }}
          </small>
        </div>
      </div>
    </ng-container>
  </ng-container>
  
  <ng-template #noEvents>
    <div class="no-events-container">
      <h1>
        There is nothing scheduled for today.
        <br />Check back later!
      </h1>
      <img src="../../assets/images/sleeping-bear.jpg" class="sleeping-bear" alt="Pictures of a sleeping bear, drawn in a cartoon style" />
    </div>
  </ng-template>
  

  <ng-container *ngIf="(events$ | async)?.length > 0">
    <div class="timeline-label bottom-label">End</div>
  </ng-container>
</div>

<ng-template #loading>
  <div class="loading-container">
    <div class="spinner"></div>
  </div>
</ng-template>
