.everything{
  width: 100vw !important;
}

.card-container{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.event-card {
  border: 1px solid #ccc;
  padding: 15px;
  background-color: #f9f9f9;
  color: #000000;
  margin: 10px 0;
}


.card.w-50{
  margin-top: 25px;
  width: 70% !important;
  background-color: var(--secondary-color) !important;
}


.btn{
  margin-top: 5px;
}

.card-title{
  text-align: center;
  padding-top: 15px;
}

.editing{
  padding: 15px;
}

.button-row{
  display:flex;
  gap: 10px;
  justify-content: left;
}

.btn-sm {
  width: auto;
}

.btn-primary {
  margin: 5px;
  background-color: #006064 !important;
  background-image: none !important;
  color: #ffffff !important;
  border-style: solid;
  border-color: #00000f;
}
