
<header class="py-5">
<div id="Main_section">
  <div class="container-fluid">
  <div class="bg-transparent">
    <div class="container text-center">
      <h1>Welcome to Grizzly Hacks!</h1>
      <button type= "button" class="btn btn-primary btn-lg m-5">Register Today!</button>
    </div>
  </div>
  </div>
</div>
  </header>

  <div class="m-5" style="padding-left: 50px; padding-right: 50px">
<div id="About_Us">
  <div class="container-fluid py-5">
  <div>
    <h3 class="col-mid-3 mb-5">About Us</h3>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Eget velit aliquet sagittis id consectetur purus ut faucibus. Suscipit tellus mauris a diam.
      Amet massa vitae tortor condimentum lacinia quis vel eros donec. Nulla facilisi cras fermentum odio eu.
      Vitae semper quis lectus nulla at volutpat. Libero justo laoreet sit amet. Turpis massa tincidunt dui ut ornare lectus sit amet.
      Ac auctor augue mauris augue neque gravida in fermentum et. Pharetra vel turpis nunc eget lorem dolor. Consectetur a erat nam at lectus.
      Augue neque gravida in fermentum et sollicitudin. Vulputate sapien nec sagittis aliquam malesuada.
      Eget lorem dolor sed viverra ipsum. Diam phasellus vestibulum lorem sed risus ultricies tristique nulla aliquet.
      Scelerisque in dictum non consectetur a erat nam at lectus. Proin libero nunc consequat interdum varius. Auctor urna nunc id cursus metus aliquam eleifend.</p>
  </div>
  </div>
</div>

<div id="Event_Calendar">
  <div class="container-fluid py-5">
  <div>
    <h3 class="col-mid-3 mb-5">Event Calendar</h3>
  </div>
  <div class="row justify-content-center">
    <div class="col-4">
      <h5>Day One</h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Time</th>
            <th scope="col">Event</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>12:00 AM</td>
            <td>Event 1</td>
          </tr>
          <tr>
            <td>12:00 AM</td>
            <td>Event 2</td>
          </tr>
          <tr>
            <td>12:00 AM</td>
            <td>Event 3</td>
          </tr>
          <tr>
            <td>12:00 AM</td>
            <td>Event 4</td>
          </tr>
          <tr>
            <td>12:00 AM</td>
            <td>Event 5</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <h5>Day Two</h5>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Time</th>
          <th scope="col">Event</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>12:00 AM</td>
          <td>Event 1</td>
        </tr>
        <tr>
          <td>12:00 AM</td>
          <td>Event 2</td>
        </tr>
        <tr>
          <td>12:00 AM</td>
          <td>Event 3</td>
        </tr>
        <tr>
          <td>12:00 AM</td>
          <td>Event 4</td>
        </tr>
        <tr>
          <td>12:00 AM</td>
          <td>Event 5</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

<div id="Sponsors">
	<div class = "container-fluid py-5">
	<div>
		<h3 class="col-mid-3 mb-5">Sponsors</h3>
	</div>
    <div class="align-content-center">
		<div class="row container text-center justify-content-center ml-5" id = "sponsor_row_one">
			<div class= "col-sm">
			<img class="img-responsive"  style="width:75%; height: auto" src="assets/sponsorPlaceholder.png">
			<p>Sponsor 1</p>
			</div>
			<div class = "col-sm">
				<img class="img-responsive"  style="width:75%; height: auto" src="assets/sponsorPlaceholder.png">
				<p>Sponsor 2</p>
			</div>
			<div class = "col-sm">
				<img class="img-responsive"  style="width:75%; height: auto" src="assets/sponsorPlaceholder.png">
				<p>Sponsor 3</p>
			</div>
  </div>
      <div class="row container text-center justify-content-center ml-5" id = "sponsor_row_two">
        <div class= "col-sm">
          <img class="img-responsive"  style="width:75%; height: auto" src="assets/sponsorPlaceholder.png">
          <p>Sponsor 4</p>
        </div>
        <div class = "col-sm">
          <img class="img-responsive"  style="width:75%; height: auto" src="assets/sponsorPlaceholder.png">
          <p>Sponsor 5</p>
        </div>
        <div class = "col-sm">
          <img class="img-responsive"  style="width:75%; height: auto" src="assets/sponsorPlaceholder.png">
          <p>Sponsor 6</p>
        </div>
      </div>
			</div>
		</div>
	<div>

  </div>
</div>
</div>



<footer class="py-5 bg-dark">
  <div id="Contact_Us">
    <div class = "container-fluid text-white">
        <div class="container ml-5" id = "contact_info">
          <div class= "col-sm">
            <h6>Contact Us</h6>
            <p><a href="mailto:grizzly.hacks01@gmail.com?" target="_top">grizzly.hacks01@gmail.com</a></p>
        </div>
        </div>
    </div>
  </div>
  <div class="text-center text-white">
    <p>Copyright &copy; Team E.V.I.L 2020</p>
  </div>
</footer>

