<div class="all_the_stuffs row justify-content-center">
  <div class="shootingstar"></div>
  <div class="col-12 col-sm-6 col-md-8">
    <div class="header">
      <div class="row justify-content-center">
        <h1>Welcome to Grizzly Hacks!</h1>
      </div>
      <div class="row justify-content-center">
        <button type="button" class="btn btn-primary btn-lg m-5">Register Today!</button>
      </div>
    </div>
    <div class="m-5">
      <div class="about row justify-content-center">
        <div class="">
          <div class="row justify-content-center">
            <h3>About Us</h3>
          </div>
          <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
              Eget velit aliquet sagittis id consectetur purus ut faucibus. Suscipit tellus mauris a diam.
              Amet massa vitae tortor condimentum lacinia quis vel eros donec. Nulla facilisi cras fermentum odio eu.
              Vitae semper quis lectus nulla at volutpat. Libero justo laoreet sit amet. Turpis massa tincidunt dui ut
              ornare lectus sit amet.
              Ac auctor augue mauris augue neque gravida in fermentum et. Pharetra vel turpis nunc eget lorem dolor.
              Consectetur a erat nam at lectus.
              Augue neque gravida in fermentum et sollicitudin. Vulputate sapien nec sagittis aliquam malesuada.
              Eget lorem dolor sed viverra ipsum. Diam phasellus vestibulum lorem sed risus ultricies tristique nulla
              aliquet.
              Scelerisque in dictum non consectetur a erat nam at lectus. Proin libero nunc consequat interdum varius.
              Auctor urna nunc id cursus metus aliquam eleifend.</p>
          </div>
        </div>
      </div>

      <div class="event">
        <div class="container-fluid py-5">
          <div class="row justify-content-center">
            <h3>Event Calendar</h3>
          </div>
          <div class="row justify-content-center">
            <div class="col-6">
              <h5>Day One</h5>
              <table class="table table-borderless">
                <thead>
                <tr>
                  <th scope="col">Time</th>
                  <th scope="col" colspan="2">Event</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <th scope="row">12:00 AM</th>
                  <td colspan="2">Event 1</td>
                </tr>
                <tr>
                  <th scope="row">12:00 AM</th>
                  <td colspan="2">Event 2</td>
                </tr>
                <tr>
                  <th scope="row">12:00 AM</th>
                  <td colspan="2">Event 3</td>
                </tr>
                <tr>
                  <th scope="row">12:00 AM</th>
                  <td colspan="2">Event 4</td>
                </tr>
                <tr>
                  <th scope="row">12:00 AM</th>
                  <td colspan="2">Event 5</td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="col-6">
              <h5>Day Two</h5>
              <table class="table table-borderless">
                <thead>
                <tr>
                  <th scope="col">Time</th>
                  <th scope="col" colspan="2">Event</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <th scope="row">12:00 AM</th>
                  <td colspan="2">Event 1</td>
                </tr>
                <tr>
                  <th scope="row">12:00 AM</th>
                  <td colspan="2">Event 2</td>
                </tr>
                <tr>
                  <th scope="row">12:00 AM</th>
                  <td colspan="2">Event 3</td>
                </tr>
                <tr>
                  <th scope="row">12:00 AM</th>
                  <td colspan="2">Event 4</td>
                </tr>
                <tr>
                  <th scope="row">12:00 AM</th>
                  <td colspan="2">Event 5</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="sponsors">
        <div class="row justify-content-center">
          <div class="row justify-content-center">
            <h3>Sponsors</h3>
          </div>
          <div class="align-content-center">
            <div class="row container text-center justify-content-center" id="sponsor_row_one">
              <div class="col-sm">
                <img class="img-responsive" style="width:75%; height: auto" src="assets/sponsorPlaceholder.png">
                <p>Sponsor 1</p>
              </div>
              <div class="col-sm">
                <img class="img-responsive" style="width:75%; height: auto" src="assets/sponsorPlaceholder.png">
                <p>Sponsor 2</p>
              </div>
              <div class="col-sm">
                <img class="img-responsive" style="width:75%; height: auto" src="assets/sponsorPlaceholder.png">
                <p>Sponsor 3</p>
              </div>
            </div>
            <div class="row container text-center justify-content-center" id="sponsor_row_two">
              <div class="col-sm">
                <img class="img-responsive" style="width:75%; height: auto" src="assets/sponsorPlaceholder.png">
                <p>Sponsor 4</p>
              </div>
              <div class="col-sm">
                <img class="img-responsive" style="width:75%; height: auto" src="assets/sponsorPlaceholder.png">
                <p>Sponsor 5</p>
              </div>
              <div class="col-sm">
                <img class="img-responsive" style="width:75%; height: auto" src="assets/sponsorPlaceholder.png">
                <p>Sponsor 6</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="faq">
        <div class="row justify-content-center">
          <h3>Frequently Asked Questions</h3>
        </div>
        <div class="card">
          <div class="card-header">
            <h6 class="mb-0">
              Scelerisque in dictum non consectetur a erat nam at lectus. Proin libero nunc consequat interdum varius.
              Auctor urna nunc id cursus metus aliquam eleifend
            </h6>
          </div>
          <div class="card-body">
            <p>
              Ac auctor augue mauris augue neque gravida in fermentum et. Pharetra vel turpis nunc eget lorem dolor.
              Consectetur a erat nam at lectus.
              Augue neque gravida in fermentum et sollicitudin. Vulputate sapien nec sagittis aliquam malesuada.
              Eget lorem dolor sed viverra ipsum. Diam phasellus vestibulum lorem sed risus ultricies tristique nulla
              aliquet.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="bottom">
        <div class="row justify-content-center p-0">
          <h3>Contact Us</h3>
        </div>
        <div class="row justify-content-center p-0">
          <p><a href="mailto:grizzly.hacks01@gmail.com?" target="_top">grizzly.hacks01@gmail.com</a></p>
        </div>
        <div class="row justify-content-center pt-5 pb-0 mb-0">
          <p>Copyright &copy; Team E.V.I.L 2020</p>
        </div>
      </div>
    </div>
  </div>
</div>
