.about{
  color: white;
}
.header
{
  color: white;
  margin-top: 10% !important;
}

.event{
  color: white;
}

.bottom{
  color: white;
  font-size: 13px;
}

.faq{
  color: white;
}

.card{
  background: transparent !important;
}

td{
  justify-content: right;
}

.btn-link,
#link{
  color: #00704a;
  cursor: pointer;
}

a{
  color: white;
  cursor: pointer !important;
}

h6{
  color: #00704a;
}

.sponsors{
  color: white;
}



.row{
  padding: 5%;
}

table{
  color: white !important;
}

body{
  color: transparent;
}


