.everything{
}

.admin-dashboard {
  background-color: var(--background-color);
  margin: 0;
  padding: 3%;
}

.user-dashboard {
  background-color: var(--secondary-color);
  margin: 0;
  padding: 3%;
}

.card.w-50.h-80 {
  width: 70% !important;
}

.event-card {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #000000;
}

.event-adder{
  margin: 0;
  padding: 3%;
  background-color: var(--background-color);
}

.event-creator {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.event-times{
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.button-row {
  display: flex;
  gap: 10px;
  justify-content: left;
}

.btn-edit {
  margin: 5px;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  background-color: #0d8abf;
  color: #ffffff;
}

.btn-delete {
  margin: 5px;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  background-color: #d41515;
  color: #ffffff;
}


@media (max-width: 600px) {
  .event-times {
    flex-direction: column;
  }

  .event-times > div {
    width: 100%;
  }
}
