<div class = "event-adder">
  <div *ngIf="events && events.length > 0">
    <h3>Scheduled Events</h3>
    <div *ngFor="let event of events" class="event-card">
      <p><strong>Title:</strong> {{ event.title }}</p>
      <p><strong>Start Time:</strong> {{ event.startTime }}</p>
      <p><strong>End Time:</strong> {{ event.endTime }}</p>
      <p><strong>Day:</strong> {{ event.day }}</p>
      <button class="btn btn-edit" (click)="editEvent(event)">Edit</button>
      <button class="btn btn-delete" (click)="deleteEvent(event)">Delete</button>
    </div>
  </div>
  <h4>Add Event</h4>
  <div *ngIf="!isCreatingEvent">
    <button class = "btn btn-primary btn-sm" (click) = "isCreatingEvent = true">Create Event</button>
  </div>
  <div class="event-creator" *ngIf = "isCreatingEvent">

    <div class = "form-group">
      <label for="eventTitle">Event Title:</label>
      <input type="text" id="eventTitle" [(ngModel)]="newEvent.title" placeholder="Enter Event Title">
    </div>

    <div class = "event-times">
      <div>
        <label for="startTime">Start Time:</label>
        <input type="time" id="startTime" [(ngModel)]="newEvent.startTime">
      </div>

      <div>
        <label for="endTime">End Time:</label>
        <input type="time" id="endTime" [(ngModel)]="newEvent.endTime">
      </div>
    </div>

    <div class = "form-group">
      <label for="eventDay">Event Day:</label>
      <input type="date" id="eventDay" [(ngModel)]="newEvent.day" placeholder="Enter Event Day">
    </div>

    <div class = "button-row">
      <button class = "btn btn-primary btn-sm"(click)="createEvent()">Create Event</button>
      <button class = "btn btn-primary btn-sm"(click)="isCreatingEvent = false">Back</button>
    </div>
  </div>
</div>
