<div class="everything">
  <div class="row justify-content-center pt-lg-5">
    <div class="card w-50">
      <div class="card-title">
        <h5>Hackathon Application</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="form">
          <div class="row">
            <div class="col-sm">
              <div class="form-group required">
                <label>Gender *</label>
                <select class="form-control" formControlName="gender" [(ngModel)]="appService.app.gender">
                  <option *ngFor="let opt of gender" [value]="opt">
                    {{opt}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-sm">
              <div class="form-group required">
                <label>Preferred Pronouns *</label>
                <select class="form-control" formControlName="preferredPronouns"
                        [(ngModel)]="appService.app.preferredPronouns">
                  <option *ngFor="let opt of preferedPronouns" [value]="opt">
                    {{opt}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-sm">
              <div class="form-group required">
                <label>Ethnicity *</label>
                <select class="form-control" formControlName="ethnicity" [(ngModel)]="appService.app.ethnicity">
                  <option *ngFor="let opt of ethnicity" [value]="opt">
                    {{opt}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group required col-md">
              <label>Phone Number *</label>
              <input class="form-control" formControlName="phoneNumber" [(ngModel)]="appService.app.phone">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-lg">
              <label>College</label>
              <input class="form-control" formControlName="college" [(ngModel)]="appService.app.college"
                     disabled="true">
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <div class="form-group required">
                <label>Major *</label>
                <select class="form-control" formControlName="major" [(ngModel)]="appService.app.major">
                  <option *ngFor="let opt of majors" [value]="opt">
                    {{opt}}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-md">
              <div class="form-group required">
                <label>Expected Graduation Date *</label>
                <select class="form-control" formControlName="expectedGraduationDate"
                        [(ngModel)]="appService.app.expectedGraduationDate">
                  <option *ngFor="let opt of graduationDates" [value]="opt">
                    {{opt}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group required col-lg">
              <label>Why do you want to attend?(200 Characters) *</label>
              <textarea class="form-control" formControlName="whyAttend" [(ngModel)]="appService.app.whyAttend"
                        maxlength="200"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="form-group required col-lg">
              <label>What do you want to learn? *</label>
              <textarea class="form-control" formControlName="whatDoYouWantToLearn"
                        [(ngModel)]="appService.app.whatDoYouWantToLearn"
                        maxlength="200"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <div class="form-group">
                <label>LinkedIn Account</label>
                <input class="form-control" formControlName="linkedIn" [(ngModel)]="appService.app.linkedIn"
                       maxlength="70" type="url">
              </div>
            </div>

            <div class="col-md">
              <div class="form-group">
                <label>Github Account</label>
                <input class="form-control" formControlName="github" [(ngModel)]="appService.app.gitHub"
                       maxlength="70">
              </div>
            </div>
          </div>
          <div class="row">
            <h6>Emergency Contact *</h6>
          </div>
          <div class="row">
            <div class="col-md">
              <div class="form-group required">
                <label>First Name</label>
                <input class="form-control" formControlName="emergencyContactFirstName"
                       [(ngModel)]="appService.app.emergencyContactFirstName"
                       maxlength="20">
              </div>
            </div>
            <div class="col-md">
              <div class="form-group required">
                <label>Last Name *</label>
                <input class="form-control" formControlName="emergencyContactLastName"
                       [(ngModel)]="appService.app.emergencyContactLastName"
                       maxlength="20">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <div class="form-group required">
                <label>Phone Number *</label>
                <input class="form-control" formControlName="emergencyContactPhoneNumber"
                       [(ngModel)]="appService.app.emCPhoneNumber" maxlength="20">
              </div>
            </div>
            <div class="col-md">
              <div class="form-group required">
                <label>Relation to Applicant *</label>
                <input class="form-control" formControlName="emergencyContactRelationWithApplicant"
                       [(ngModel)]="appService.app.emergencyContactRelationWithApplicant" maxlength="20">
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="form-check required">
              <input class="form-check-input" type="checkbox" id="termsCheck" formControlName="agreedToCodeOfConduct"
                     [(ngModel)]="appService.app.agreedToCodeOfConduct">
              <label class="form-check-label" for="termsCheck">Agree to code of conduct.</label>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-6 col-sm-3">
            <button class="btn btn-primary" (click)="auth.saveApplication()" *ngIf="!appService.app.submited">Save
            </button>
          </div>
          <div class="col-6 col-sm-3">
            <button class="btn btn-primary" (click)="auth.submitApplication()"
                    [disabled]="!form.valid || !appService.app.agreedToCodeOfConduct" *ngIf="!appService.app.submited">
              Submit
            </button>
          </div>
          <div class="col-6 col-sm-3">
            <button class="btn btn-primary" routerLink="/user">Back</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
