<div class="container">
    <h2>Add Judge</h2>
  
    <input type="text" [(ngModel)]="newFirstName" placeholder="First Name" class="input-field"/>
    <input type="text" [(ngModel)]="newLastName" placeholder="Last Name" class="input-field"/>
  
    <h4>Hackathons</h4>
    <input type="text" [(ngModel)]="newHackathon" placeholder="Hackathon Name" class="input-field"/>
    <button (click)="addHackathon()" class="btn">Add Hackathon</button>
  
    <ul>
      <li *ngFor="let h of hackathonList">{{ h }}</li>
    </ul>
  
    <button (click)="addJudge()" class="btn btn-primary">Add Judge</button>
  
    <hr />
  
    <h2>Judges List</h2>
    <ul>
      <li *ngFor="let judge of judges">
        <strong>{{ judge.firstName }} {{ judge.lastName }}</strong>
        <ul>
          <li *ngFor="let hack of judge.hackathons">{{ hack }}</li>
        </ul>
        <button (click)="removeJudge(judge.firstName, judge.lastName)" class="btn btn-danger">Remove</button>
      </li>
    </ul>
  </div>
  