.accounts{
  margin: 3%;
  padding: 3%;
  background-color: #ccf0e4;
  width: calc(100% - 5px);
  height: 75%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.btn-primary{
  margin: 2%;
}

.search{
  width: 100%;
}
