<div class="everything">
  <div class="row justify-content-center  pt-lg-5">
    <div class="card w-50">
      <div class="card-title">
        <h5>Administration Dashboard</h5>
      </div>
      <div class="card-body">
        <div class="row justify-content-center">
          <div class="col">
            <button class="btn btn-primary">Review Applications</button>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col">
            <button class="btn btn-primary">Account Audit</button>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col">
            <button class="btn btn-primary">Create New Admin Account</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
